@model admin.Models.User

@{
    ViewData["Title"] = "建立新會員";
}

<h1>創立新會員</h1>

<h4>會員基本資訊</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="會員id" class="control-label"></label>
                <input asp-for="會員id" class="form-control" />
                <span asp-validation-for="會員id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="會員帳號" class="control-label"></label>
                <input asp-for="會員帳號" class="form-control" />
                <span asp-validation-for="會員帳號" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="會員密碼" class="control-label"></label>
                <input asp-for="會員密碼" class="form-control" />
                <span asp-validation-for="會員密碼" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="頭像檔名" class="control-label"></label>
                <input asp-for="頭像檔名" class="form-control" />
                <span asp-validation-for="頭像檔名" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="姓名" class="control-label"></label>
                <input asp-for="姓名" class="form-control" />
                <span asp-validation-for="姓名" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="暱稱" class="control-label"></label>
                <input asp-for="暱稱" class="form-control" />
                <span asp-validation-for="暱稱" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="郵遞區號" class="control-label"></label>
                <input asp-for="郵遞區號" class="form-control" />
                <span asp-validation-for="郵遞區號" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="地址" class="control-label"></label>
                <input asp-for="地址" class="form-control" />
                <span asp-validation-for="地址" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="電話" class="control-label"></label>
                <input asp-for="電話" class="form-control" />
                <span asp-validation-for="電話" class="text-danger"></span>
            </div>
         @*   <div class="form-group">
                <label asp-for="註冊時間" class="control-label"></label>
                <input asp-for="註冊時間" class="form-control" />
                <span asp-validation-for="註冊時間" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="帳號權限" class="control-label"></label>
                <input asp-for="帳號權限" class="form-control" />
                <span asp-validation-for="帳號權限" class="text-danger"></span>
            </div>
         @*   <div class="form-group">
                <label asp-for="資料更新時間" class="control-label"></label>
                <input asp-for="資料更新時間" class="form-control" />
                <span asp-validation-for="資料更新時間" class="text-danger"></span>
            </div>*@
          @*  <div class="form-group">
                <label asp-for="Is啟用" class="control-label"></label>
                <input asp-for="Is啟用" class="form-control" />
                <span asp-validation-for="Is啟用" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Is刪除" class="control-label"></label>
                <input asp-for="Is刪除" class="form-control" />
                <span asp-validation-for="Is刪除" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="違規次數" class="control-label"></label>
                <input asp-for="違規次數" class="form-control" />
                <span asp-validation-for="違規次數" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="備註" class="control-label"></label>
                <input asp-for="備註" class="form-control" />
                <span asp-validation-for="備註" class="text-danger"></span>
            </div>
            <div style="padding:15px 10px" class="form-group">
                <input type="submit" value="創立會員" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="padding:10px">
    <a class="btn btn-secondary" asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
