@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
  

</div>

<div class="col-4" >
    <div> <h4>會員使用刊登商品數量</h4></div> 
<canvas id="mychart"></canvas>
</div>

<div class="col-6" >
<canvas id="myChart2"></canvas>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script>

    



  var userdata = @Html.Raw(ViewBag.itemsData);
var ctx = document.getElementById("mychart"),
        example = new Chart(ctx, {
            type: "bar", // 圖表類型
            data: {
                labels: [ "joe", "杉彬彬", "3",'管理員' ], // 標題
                datasets: [{
                    label :"商品數量",
                    data: userdata,     // 資料
                    backgroundColor: [  // 背景色 (照順序輪用)
                        "LightSkyBlue",
                        "LightPink",
                        "LightGray"
                        
                    ],
                }]
            },
            options: {

                maintainAspectRatio: true, // 固定長寬比
                responsive: true,
                plugins: {
                    legend: {
                        
                        position: 'top',
                        //boxWidth:50
                     
                    }
                }
            }
        });


         var itemData = @Html.Raw(ViewBag.銷售);
        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
                datasets: [{
                    label: '銷售數量',
                    data: itemData /*[20, 22.3, 25, 26, 28, 31.2, 33]*/,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                }]
            },
        });
 


      

</script>
