@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-bottom:50px">
    <h1 class="display-4">Welcome</h1>
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
  

</div>

@*<div class="container">
    <div class="row">
     <div class="col-4" >
    <div> <h4>會員使用刊登商品數量</h4></div> 
<canvas id="mychart"></canvas>
</div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"  >
             <h4 style="text-align:center"> <span >商品銷售數量 </span></h4>
              <canvas id="myChart2"></canvas>
        </div>

    </div>
    

</div>



<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
               <h4 style="text-align:center"> <span >會員下單數量 </span></h4>
                 <canvas id="mychart3"></canvas>

        </div>

       

    </div>
    

</div>
*@
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" >
             <div> <h4>會員使用刊登商品數量</h4></div> 
                <canvas id="myChart"></canvas>
        </div>

           <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" >
             <div> <h4>商品銷售數量排行</h4></div> 
                <canvas id="myChart2"></canvas>
        </div>

    </div>
</div>


@*<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" >
             <div> <h4>商品月銷售</h4></div> 
                <canvas id="myChart3"></canvas>
        </div>

           <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" >
             <div> <h4>會員使用刊登商品數量</h4></div> 
                <canvas id="myChart3"></canvas>
        </div>

    </div>
</div>*@


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script>

    


    //圖表一
    



  var userdata = @Html.Raw(ViewBag.itemsData);
      
var ctx = document.getElementById("myChart"),
        example = new Chart(ctx, {
            type: "bar", // 圖表類型
            data: {
                labels: [ "joe", "杉彬彬", "黃",'管理員' ], // 標題
                datasets: [{
                    label :"商品數量",
                    data: userdata,     // 資料
                    backgroundColor: [  // 背景色 (照順序輪用)
                        "LightSkyBlue",
                        "LightPink",
                        "LightGray",
                        "LightBlue",
                        
                    ],
                }]
            },
            options: {

                maintainAspectRatio: true, // 固定長寬比
                responsive: true,
                plugins: {
                    legend: {
                        
                        position: 'top',
                        //boxWidth:50
                     
                    }
                }
            }
        });

 
 var itemData = @Html.Raw( ViewBag.銷售數量);
var ctx = document.getElementById("myChart2"),
        example = new Chart(ctx, {
            type: "bar", // 圖表類型
            data: {
                labels: [ "均一價", "三等格格", "二等格格",'四等艙' ], // 標題
                datasets: [{
                    label :"商品數量",
                    data: itemData,     // 資料
                    backgroundColor: [  // 背景色 (照順序輪用)
                        "LightSkyBlue",
                        "LightPink",
                        "LightGray",
                        "LightBlue",
                        
                    ],
                }]
            },
            options: {

                maintainAspectRatio: true, // 固定長寬比
                responsive: true,
                plugins: {
                    legend: {
                        
                        position: 'top',
                        //boxWidth:50
                     
                    }
                }
            }
        });



        

        //   var time = @Html.Raw(ViewBag.瀏覽次數);
        //var ctx2 = document.getElementById('myChart3').getContext('2d');
        //var myChart = new Chart(ctx2, {
        //    type: 'pie',
        //    data: {
        //        //labels: ['TIIDA大空間', '二等格格', '三等艙', '三等格格','小倉庫','小酒窖', '六等艙', '文件箱', '四等倉','均一價','車庫','單層酒櫃','頭等格格'],
        //        labels: ['七月', '八月'],
        //        datasets: [{
        //            label: '銷售數量',
        //            data: [961,27993],
        //            fill: false,
        //            backgroundColor:[  // 背景色 (照順序輪用)
        //                "LightSkyBlue",
        //                "LightPink",
        //                "LightBlue",
                        
        //            ],
        //        }]
        //    },
        //});
      



        
    //圖表3

// var count = @Html.Raw( ViewBag.次數);
      
//var ctx3 = document.getElementById("mychart3"),
//        example = new Chart(ctx3, {
//            type: "bar", // 圖表類型
//            data: {
//                labels: ["joe", "杉彬彬", "黃", '管理員',"杉彬彬", "黃", '管理員' ], // 標題
//                datasets: [{
//                    label :"使用者下單數量",
//                    data: count,     // 資料
//                    backgroundColor: [  // 背景色 (照順序輪用)
//                        "LightSkyBlue",
//                        "LightPink",
//                        "LightGray",
//                        "LightBlue",
                        
//                    ],
//                }]
//            },
//            options: {

//                maintainAspectRatio: true, // 固定長寬比
//                responsive: true,
//                plugins: {
//                    legend: {
                        
//                        position: 'top',
                     
                     
//                    }
//                }
//            }
//        });

 
</script>
