@model admin.Models.Item

@{
    ViewData["Title"] = "Create";
}

<h1>創建新商品</h1>

@*<h4>Item</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="商品id" class="control-label"></label>
                <input asp-for="商品id" class="form-control" />
                <span asp-validation-for="商品id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品名稱" class="control-label"></label>
                <input asp-for="商品名稱" class="form-control" />
                <span asp-validation-for="商品名稱" class="text-danger"></span>
            </div>
        @*    <div class="form-group">
                <label asp-for="商品主圖" class="control-label"></label>
                <input asp-for="商品主圖" class="form-control" />
                <span asp-validation-for="商品主圖" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="商品簡述" class="control-label"></label>
                <input asp-for="商品簡述" class="form-control" />
                <span asp-validation-for="商品簡述" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品詳述" class="control-label"></label>
                <input asp-for="商品詳述" class="form-control" />
                <span asp-validation-for="商品詳述" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品郵遞區號" class="control-label"></label>
                <input asp-for="商品郵遞區號" class="form-control" />
                <span asp-validation-for="商品郵遞區號" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品地址" class="control-label"></label>
                <input asp-for="商品地址" class="form-control" />
                <span asp-validation-for="商品地址" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品分類" class="control-label"></label>
                <input asp-for="商品分類" class="form-control" />
                <span asp-validation-for="商品分類" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品條件" class="control-label"></label>
                <input asp-for="商品條件" class="form-control" />
                <span asp-validation-for="商品條件" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="租賃時間下限" class="control-label"></label>
                <input asp-for="租賃時間下限" class="form-control" />
                <span asp-validation-for="租賃時間下限" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="商品參數" class="control-label"></label>
                <input asp-for="商品參數" class="form-control" />
                <span asp-validation-for="商品參數" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="賣方id" class="control-label"></label>
                <input asp-for="賣方id" class="form-control" />
                <span asp-validation-for="賣方id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="瀏覽次數" class="control-label"></label>
                <input asp-for="瀏覽次數" class="form-control" />
                <span asp-validation-for="瀏覽次數" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="聯絡姓名" class="control-label"></label>
                <input asp-for="聯絡姓名" class="form-control" />
                <span asp-validation-for="聯絡姓名" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="聯絡email" class="control-label"></label>
                <input asp-for="聯絡email" class="form-control" />
                <span asp-validation-for="聯絡email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="聯絡電話" class="control-label"></label>
                <input asp-for="聯絡電話" class="form-control" />
                <span asp-validation-for="聯絡電話" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="聯絡line" class="control-label"></label>
                <input asp-for="聯絡line" class="form-control" />
                <span asp-validation-for="聯絡line" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="聯絡網址" class="control-label"></label>
                <input asp-for="聯絡網址" class="form-control" />
                <span asp-validation-for="聯絡網址" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="創建時間" class="control-label"></label>
                <input asp-for="創建時間" class="form-control" />
                <span asp-validation-for="創建時間" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="修改時間" class="control-label"></label>
                <input asp-for="修改時間" class="form-control" />
                <span asp-validation-for="修改時間" class="text-danger"></span>
            </div>
      @*      <div class="form-group">
                <label asp-for="Is啟用" class="control-label"></label>
                <input asp-for="Is啟用" class="form-control" />
                <span asp-validation-for="Is啟用" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Is刪除" class="control-label"></label>
                <input asp-for="Is刪除" class="form-control" />
                <span asp-validation-for="Is刪除" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="存檔" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
